[submodule "external/VAL/VAL.git"]
	path = external/VAL/VAL.git
	url = https://github.com/tmigimatsu/VAL.git
[submodule "external/doctest"]
	path = external/doctest
	url = https://github.com/doctest/doctest.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://gitlab.com/libeigen/eigen.git